.Coordinate-Form-Container mat-form-field + mat-form-field {
  margin-left: 8px;
}
.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#divChart {
  display: block;
  width: 800px;
  height: 800px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button {
  margin-right: 10px;
}
